<div class="container">
  <div class="row">
    <div>
      <h1>User info</h1>
      <div>
        <%= image_tag @user.get_profile_image(100,100) %>
      </div>
      <table class="table">
        <tr>
          <th>
            name
          </th>
          <td>
            <%= @user.name %>
          </td>
        </tr>
        <tr>
          <th>
            introduction
          </th>
          <td>
            <%= @user.introduction %>
          </td>
        </tr>
      </table>
      <div>
        <%= link_to 'edit', edit_user_path(@user), class: "btn btn-success" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div>
      <h1>New book</h1>
      <%= form_with model: book_new do |f| %>
        <div class="field">
          <%= f.label :title %><br>
          <%= f.text_field :title %>
        </div>
        <div class="field">
          <p>Opinion</p>
          <%= f.text_area :body %>
        </div>
        <div class="actions">
          <%= f.submit 'Create Book', class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

