<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/9da6f739d6.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light navbar-dark bg-dark">
        <div class="container">
          <p><%= link_to "Bookers", '/', class: 'text-white' %></p>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>

            <li class="nav-item">
              <div class="nav-link">
                <%= link_to  user_path(current_user.id) do %>
                  <i class="fa-solid fa-home" style="color: white;"></i><span class="text-white"> Home</span>
                <% end %>
              </div>
            </li>
            <li class="nav-item">
              <div class="nav-link">
                <%= link_to  users_path do %>
                  <i class="fa-solid fa-users" style="color: white;"></i><span class="text-white"> Users</span>
                <% end %>
              </div>

            </li>
            <li class="nav-item">
              <div class="nav-link">
                <%= link_to  books_path do %>
                  <i class="fa-solid fa-book-open" style="color: white;"></i><span class="text-white"> Books</span>
                <% end %>
              </div>

            </li>
            <li class="nav-item">
              <div class="nav-link">
                <%= link_to  destroy_user_session_path, method: :delete do %>
                  <i class="fa-solid fa-sign-out-alt" style="color: white;"></i><span class="text-white"> Log out</span>
                <% end %>
              </div>

            </li>

            <% else %>
            <li class="nav-item">
              <div class="nav-link">
                <%= link_to  '/' do %>
                  <i class="fa-solid fa-home" style="color: white;"></i><span class="text-white"> Home</span>
                <% end %>
              </div>
            </li>
            <li class="nav-item">
              <div class="nav-link">
                <%= link_to  about_path do %>
                  <i class="fa-solid fa-link" style="color: white;"></i><span class="text-white"> About</span>
                <% end %>
              </div>
            </li>
            <li class="nav-item">
              <div class="nav-link">
                <%= link_to  new_user_registration_path do %>
                  <i class="fa-solid fa-user-plus" style="color: white;"></i><span class="text-white"> Sign up</span>
                <% end %>
              </div>
            </li>
            <li class="nav-item">
              <div class="nav-link">
                <%= link_to  new_user_session_path do %>
                  <i class="fa-solid fa-sign-in-alt" style="color: white;"></i><span class="text-white"> Log in</span>
                <% end %>
              </div>
            </li>


            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
    <%= yield %>
    </main>
    <footer class = "mx-auto">
      <div class = "container mt-5">
        <div class="row">
          <p class="mx-auto">CopyRight infratop.inc</p>
        </div>

      </div>

    </footer>
  </body>
</html>
